.quiz {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
.quiz_window {
  width: 400px;

  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 3px solid lightgray;
  padding: 20px;
}

.quiz_button {
  border-radius: 4px;

  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
  background: #f0c14b;
}
