.score-board {
  align-items: center;
  margin: 100px;
}
.playBtn {
  border-radius: 4px;

  height: 40px;
  width: 100px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
  background: #f0c14b;
}
.result_button {
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  display: flex;
}
.score > h3 {
  align-items: center;
  flex-direction: row;
  justify-content: center;
  display: flex;
}
